<div class="row">
    <div class="col-md-12">
        <footer class="site-footer">
            <div class="inner">
                 <section class="copyright">(c) <a href="{{@blog.url}}/">{{@blog.title}}</a> {{date format="YYYY"}} &bull; All rights reserved.</section>

                 <section class="poweredby">Published with <a class="icon-ghost" href="https://ghost.org">Ghost</a> &bull; Theme by duyetdev</section>
                 
                 <section><a class="subscribe" href="{{@blog.url}}/rss/" rel="tooltip" title="Subscribe to the RSS"><i class="fa fa-rss-square fa-lg"></i></a></section>
            </div>
        </footer>
    </div>
</div>

<a href="#" id="back-to-top" class="back-to-top hidden-xs"><i class="fa fa-angle-up"></i></a>